<!-- Default home page -->

<div class="default-page">
    <div class="header">
        <div class ="heading">
            The Power to Know What
        </div>
        <div class = "sub-heading">
            Whitepages and Tropo are working together to connect you with your customers across all channels.
        </div>
    </div>
    <div class="clearfix mainBackground">
        <div class="floatLeft">
             <div class="data-item">
                    <div class="title">Country Code</div>
                    <div class="data" name="countyCode">+1</div>
                </div>
                <div class="data-item">
                    <div class="title">Line Type</div>
                    <div class="data" name="lineType">Mobile</div>
                </div>
                <div class="data-item">
                    <div class="title">Carrier</div>
                    <div class="data" name="carrier">ATT</div>
                </div>
                <div class="data-item">
                    <div class="title">Reputation Score</div>
                    <div class="data" name="validNumber">Mobile</div>
                </div>
                <div class="data-item">
                    <div class="title">Prepaid Number</div>
                    <div class="data" name="prepaidNumber">No</div>
                </div>
        </div>

        <div class="floatRight">

                <div class="data-item">
                    <div class="title">Name</div>
                    <div class="data" name="callerName">Marcello Federico</div>

                </div>
                <div class="data-item">
                    <div class="title">Address</div>
                    <div class="data" name="address">Seattle 98199</div>
                </div>
        </div>
    </div>
    <div class ="imageFooter">
    </div>
</div>
